@font-face {
	font-family: 'HelveticaNeueCyr-Heavy';
	src:url('../fonts/HelveticaNeueCyr-Heavy.otf');

}
@font-face {
	font-family: 'HelveticaNeueCyr-Italic';
	src:url('../fonts/HelveticaNeueCyr-Italic.otf');

}
@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src:url('../fonts/HelveticaNeueCyr-Medium.otf');

}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src:url('../fonts/HelveticaNeueCyr-Roman.otf');
}
html, body{
	font-family: 'HelveticaNeueCyr-Roman';
}
button,a{
	outline: none;
}
.col-center{
	display: block;
	margin: 0 auto;
	float: none;
}

#header{
    height: 100vh;
    background: url(../assets/bg-header.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    display: table;
}
#header p a{
	color: #FFF;
	opacity: .7;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.wrap-banner{
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.wrap-banner h1{
	font-family: 'HelveticaNeueCyr-Heavy';
	font-size: 10em;
	color: #FFF;
}
.wrap-banner p{
	font-family: 'HelveticaNeueCyr-Roman';
	color: #FFF;
	font-size: 2.14em;
}
.wrap-banner p a{
	white-space: nowrap;
}
.wrap-banner.jobs-banner{
	color: #333;
	/*background-color: #fff;*/
}
.wrap-banner.jobs-banner h1{
	font-size: 5em;
	color: #333
}
.wrap-banner .scroll-btn{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.wrap-banner .scroll-btn a{
	display: inline-block;
    height: 60px;
    width: 30px;
    background: url(../assets/mouse.png) center center no-repeat;
}
.navbar-brand{
	padding: 0;
}
.navbar-default{
    -webkit-appearance: none;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    padding: 15px 10px;
    padding-top: 20px;
}
.navbar-default.menu-scrolled,
.navbar-default.menu-scrolled.blog{
	background-color: rgba(0,0,0, .5);
}
.navbar-default.blog{
	background-color: #ff0030;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'HelveticaNeueCyr-Medium';
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
	border-bottom: 1px solid transparent;
	transition: all ease-in-out .2s;
}
.navbar-default .navbar-nav.scrollable>li>a:hover,
.navbar-default .navbar-nav.scrollable>li>a:visited{
	color: #FFF;
	/*text-decoration: underline;*/
	border-bottom: 1px solid #fff;
}
.btn-quote{
    font-family: 'HelveticaNeueCyr-Medium';
    text-transform: none!important;
    line-height: 10px!important;
    width: 145px;
    float: right;
    text-align: center;
    display: block;
    border: 2px solid #fff!important;
    vertical-align: top;
    height: 40px;
    color: #fff;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    padding: 15px;
    cursor: pointer;
}
.btn-quote:hover{
	background-color: #FFF!important;
	color: #d70225!important;
}
.back-circles{
    background: url(../assets/bg-h2.png) #fafafa center center no-repeat;
    background-size: inherit;
    padding: 60px 0;
    /*margin: 20px 0;*/
}
.back-circles h2{
    font-size: 3.4em;
    color: #666;
}
.back-circles h2 b{
	color: #ff0030;
}
.back-circles.top{
	/*background-position: 0 center;*/
	background-size: 50%;
}
.result-box{
	padding: 20px;
}
.result-box h2{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
}
ul.adv-count{
	margin-top: 80px;
	display: block;
}
ul.adv-count li{
	height: 265px;
	padding: 10px;
	border: 3px solid #e8e8e8;
	text-align: center;
	list-style: none;
	display: inline-block;
}
ul.adv-count span{
	font-weight: bold;
	color: #fd172c;
	background-color: #FFF;
	font-size: 8em;
	display: block;
	width: 80%;
	margin: 0 auto;
	height: 65%;
	font-family: 'HelveticaNeueCyr-Heavy';
	/*transform: translateY(-50%);*/
}
ul.adv-count p b{
	font-size: 1.6em;
	color: #333;
}
.back-circles-left {
    background: url(../assets/elips1.png) #fafafa left center no-repeat;
    background-size: 65%;
    /*height: 100px;*/
    padding: 70px 0;
}
ul.signs li{
	display: inline-block;
    padding: 0 20px;
}

ul.signs li span{
	display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1em;
}
.last-ul {
    margin: 0 auto;
    background: url(../assets/razdelitel.png) center 20px no-repeat;
    margin-top: 50px;
    padding: 0;
}
.last-ul li:nth-child(2n+1) {
    text-align: right;
    color: #000;
    /*font-family: HelveticaItalic;*/
    font-size: 18px;
}
.last-ul li {
    display: inline-block;
    width: 45%;
    height: 104px;
    line-height: 21px;
    box-sizing: border-box;
}
.last-ul li:nth-child(2n) {
    color: #000;
    float: right;
    text-align: left;
    font-size: 1.2em;
}
p.about-content{
	font-family: 'HelveticaNeueCyr-Roman';
	padding-top: 50px;
	color: #666;
	font-size: 2.3em;
}
#outsource{
	padding: 20px 0;
    width: 100%;
    float: left;
    background: url(../assets/bg-third1.png) #1a1a1a right center no-repeat;
}
#outsource img{
	margin-top: 20px;
}
#outsource p{
	vertical-align: middle;
	display: table-cell;
	color: #FFF;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 60px 0;
}
#outsource p span{
	display: block;
	margin-bottom: 5px;
}
#clients {
    width: 100%;
    /*float: left;*/
    /*height: 600px;*/
    padding: 50px 0;
    background: url(../assets/bg-clients.jpg) center center no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: scroll;
}
#show-more-logos{
	visibility: hidden;
}
#footer{
	background: #ff0030;
}
#footer .footer-links{
	margin-top: 30px;
	padding: 0;
}
#footer .footer-links a{
	text-decoration: none;
}
#footer .footer-links li{
	display: inline-block;
}
#footer .footer-links li img{
    display: block;
    margin: 0 auto;
}

#footer .footer-links li span {
    display: block;
    font-size: .8em;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

#stack i{
	font-size: 3em;
}

#stack .tech p{
	margin-top: 10px;
	font-size: 1.2em;
}
#stack .stack-wrap{
	margin: 20px 0;
}
.stack-wrap ul{
	padding: 0;
	list-style: none;
	margin: 0 auto;
	display: block;
}
.stack-wrap a{
	text-decoration: none;
	color: #333;
}	
.stack-wrap ul li{
	width: auto;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	display: inline-block;
	transition: outline .2s linear;
    color: #fff;
}
.stack-wrap ul li:hover{
	outline: 1px solid #ff0030;
}

.stack-wrap ul li p{
	margin-bottom: 0;
}
.stack-wrap ul li i{
	padding: 5px;
}
.btn-quote,
.btn-quote:active,
.btn-quote:visited,
.btn-quote:focus{
	/*color: #FFF!important;*/
	outline: none!important;
}

.input_go{
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #fd172c;
    background: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    /*width: 320px;*/
    height: 60px;
    border-radius: 50px;
    margin-top: 10px;
}
.input_go.hover, .input_go:hover {
    background: #fd172c;
    color: #fff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.input {
    background: #f9f6ef;
    border-radius: 50px;
    height: 40px;
    /*width: 280px;*/
    padding: 0 20px;
    font-size: 1em;
    border: none;
    outline: none;
    /*margin: 0 0 10px 0;*/
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.input:focus {
    box-shadow: 0 0 5px #fd172c;
}
.quote-form input:not(.file-upload-input),
.quote-form textarea{
	width: 100%;
}
.file-upload-button {
    cursor: pointer;
    display: block;
    color: #fff;
    height: 40px;
    font-size: 16px;
    padding: 0;
    width: 30%;
    border: none;
    border-radius: 50px 0 0 50px;
    background-color: grey;
    float: left;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.file-upload-input:hover, .file-upload-input:focus {
    background-color: whitesmoke;
    outline: none;
}
.file-upload-input {
    color: #000;
    font-size: 15px;
    padding: 0 2% 0 2%;
    border: none;
    height: 40px;
    width: 66%;
    background-color: #f9f6ef;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float: left;
    border-radius: 0 50px 50px 0;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    min-width: 200px;
    /*margin-top: -15px;*/
	list-style: none;
	padding: 0;
	top:67px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    display: block;
}
.dropdown-content a{
	text-transform: uppercase;
    color: #FFF;
    font-family: 'HelveticaNeueCyr-Medium';
    margin: 12px 16px;
    margin-top: 0;
    text-decoration: none;
    display: block;
    text-align: left;
	border-bottom: 1px solid transparent;
	transition: border ease-in-out .2s;
}
.dropdown-content li:first-child{
	padding-top: 0;
	margin-top: -16px;
}
.dropdown-content li:first-child a{
	padding-top: 16px;
}
.dropdown-content a:hover{
	/*text-decoration: underline;*/
	border-bottom: 1px solid #fff;
}
.dropdown-content li{
	background-color: transparent;
}
.menu-scrolled .dropdown-content{
	background-color: rgba(0,0,0, .5);
}
.blog:not(.menu-scrolled) .dropdown-content{
	background-color: rgba(255, 0, 48, 1);
}
.logos-container img{
	padding: 1em;
	max-width: 30%;
}
#jobs-header{
    height: 300px;
    /*background-size: cover;*/
    width: 100%;
    display: table;
}
#jobs-header p{

}
.jobs-banner{
	background: url(../assets/hand11.png) #ff0030 center right no-repeat;
    background-size: 25%;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: initial;
}
.tagbox ul{
	padding-bottom: 0;
	margin-top: 40px;
	padding: 0;
}
.tagbox li{
	display: inline-block;
	margin: 0 10px 21px;
    vertical-align: top;
    font-size: 1.3em;
    font-family: 'HelveticaNeueCyr-Roman';
}
.tagbox.small li{
	font-size: 1em;
}
.tagbox.small a{
	padding: 5px 10px;
}
.tagbox a{
	padding: 10px 18px;
	cursor: pointer;
	text-decoration: none;
    display: block;
    border: 2px solid #e2e2e2;
    line-height: 26px;
    border-radius: 26px;
    color: #333;
    transition: all .2s linear;
}
.tagbox a:hover{
	border-color: #ff0030;
}
.joblist .vacancy-wrap{
	border-bottom: 1px solid #e2e2e2;
}
.joblist h2 a{
	color: #ff0030;
}
.vacancy-wrap p{
	font-size: 1em;
	margin-bottom: 10px;
}
.vacancy-wrap .detail{
	font-family: 'HelveticaNeueCyr-Italic';
}
.vacancy-wrap .job-description{
	font-size: 1.2em;
}

.navbar-collapse{
	box-shadow: none;
	border-top: none;
}
#advantages{
	padding-bottom: 40px;
}
.advantages h2{
	color: #000;
	font-size: 2.7em;
}
.color.grey{
	color:#666;
}
.color.red{
	color:#ff0030;
}
.vac-list li{
	list-style: none;
    font-size: 1.2em;
    padding: 13px 0;
    border-bottom: 1px solid #bbb;
}
.vac-list li a{
	text-decoration: none;
	color: #666666;
}
.more-btn{
    width: 145px;
    height: 40px;
    display: block;
    color: #fff;
    cursor: pointer;
    background: #ff0030;
    margin: 0 auto;
    box-shadow: none;
    text-align: center;
    border: 1px solid #fff;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    line-height: 40px;
    text-decoration: none!important;
    font-size: 18px;
    margin: 50px auto;
    transition: all 0.2s;
}
#show-more-filters,
#show-more-filters:hover,
#show-more-logos:hover{
 	background: #ff0030;
 	border: 1px solid #fff;
 	color: #FFF;
 }
.more-btn.small{
	margin: 0;
}

.more-btn:hover,
#show-more-filters.active,
#show-more-logos.active{
	background-color: #FFF;
	color: #ff0030;
	border:1px solid #ff0030;

}

.jobs-container h2{
	font-size: 4em;
}

.post{
	margin-bottom: 20px;
}
.post img{
	width: 100%;
}
.post a{
	color: #000;
}
.post a:hover{
	text-decoration: none;
	color: #ff0030;
}
.meta-list{
	padding: 0;
	list-style: none;
}
.meta-list li{
	margin-right: 5px;
	display: inline-block;
}
.meta-list li span{
	margin-right: 5px;
}
.side-block ul{
	padding-left: 10px;
	list-style: none;
}
.side-block li{
    margin: 0;
    font-size: 1em;
    position: relative;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.side-block li a{
	color: #000;
}
.side-block li a:hover{
	color: #ff0030;
}
.side-block {
	margin-bottom: 15px;
}
.side-block.back{
	background-color: #fefefe;
	border-bottom: 1px solid #eee;

}
.side-block {
}
.blog-header{
	margin-top: 80px;
}
.adb-counts p{
	font-size: 1.1em;
	color: #666;
}
.search-form .btn-quote{
	display: inline-block;
	float: none;
	text-decoration: none;
	transition: all ease-in-out .2s;
}
.search-form .form-group{
	margin-bottom: 0;
}
.search-form .input{
	width: 40%;
}
.pagination li a{
	color: #ff0030;
}
.pagination li a:hover{
	color: #ff0030;
}
.pagination li.active a,
.pagination li.active a:hover{
	background-color: #ff0030;
	border-color: #ff0030;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #FFF;
}
#show-more-filters{
	display: none;
	visibility: hidden;
}
@media (max-width:767px){
	body,html{
		font-size: 14px;
	}
	.logos-container img{
		padding: 1em;
		max-width: 300px;
	}
	#show-more-logos{
		visibility: visible;
	}
	#show-more-filters{
		display: block;
		visibility: visible;
	}
	.filters-hidden {
	    display:none;
	}
	.navbar-default:not(.blog){
		background-color: rgba(0,0,0, .7)!important;
	}
	.more-btn.small{
		margin: 0 auto;
		float: none!important;
	}

	.search-form .input{
		width: 280px;
	}
	.advantages h2{
		font-size: 2.2em;
	}
	.back-circles-left{
		background-image: none;
	}
	.dropdown-content{
		top:0;
		position: relative;
		display: none;
		background-color: transparent!important;
	}
	.dropdown-content li{
		padding-left: 10px;
		margin-top: 0;
	}
	.navbar a:not(.btn-quote){
		border-bottom: none!important;
	}
	.navbar a:hover{
		text-decoration: underline!important;
	}
	.menu-scrolled .dropdown-content li, .jobs .dropdown-content li{
		background-color: transparent;
	}

	.navbar .navbar-nav{
		float: left;
		text-align: left;
		width: 100%;
		font-family: 'HelveticaNeueCyr-Bold';
	}
	.navbar .navbar-nav.navbar-right{
		float: none;
		text-align: center;
		width: auto;
	}
	p.about-content{
		font-size: 1.6em;
	}
	#outsource{
		background-image: none;
	}
	.adb-counts{
		margin: 0 auto;
		float: none;
	}

	.last-ul{
		background-image: none;
	}
	.last-ul li{
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.last-ul li:nth-child(even){
		text-align: right;
		color: #ff0030;
		font-style: italic;


	}
	.last-ul li:nth-child(odd){
		text-align: left;
		font-weight: bold;
	}
	.wrap-banner p span{
		display: none;
	}
	.navbar-default {
    	background-color: rgba(0,0,0, .5);
	}
	.logos-container{
	    height: auto;
		max-height: 460px;
		overflow: hidden;
		margin-bottom: 20px;
		transition: max-height 0.25s ease-in;
	}
	.logos-container.expanded{
		height: 100%;
		max-height: 1500px; /* try to guess a max-height for your content */
	}
	#show-more-logos button{

		visibility: visible;
		margin: 0 auto;
	
}

@media (max-width:480px){
	.logos-container{
		max-height: 340px;
	}
	.jobs-banner{
		background-image: none;
	}
	.wrap-banner h1{
		font-size: 4em;
	}
	#footer .footer-links li span{
		padding: 5px;
	}	
	.search-form .btn-quote{
		margin-top: 10px;
	}
}
@media (max-width:1024px){

}

@media (min-width:992px){

}

@media (min-width:1200px){

}

